.wrap {
    padding: 1px 2px;
    background-color:cadetblue;
    height: 22px;
    width: 44px;
    margin-top: 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(128, 128, 128, 0.534);
}

.inp {
    position: relative;
    height: 20px;
    width: 40px;
    cursor: pointer;
    transition: all 300ms ease;
    appearance: none;
    margin: 0;

    &:after {
        content: '';
        position: absolute;
        left: -2px;
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 100px;
        background: gray;
        transition: all 300ms ease;
    }

    &:active:after {
        transform: scale(1.15, 0.85);
    }

    &:checked {
        &:after {
            left: 20px;
            background: darken(blue, 15%);
        }
    }
}