.main {
    &-content {
    
    }

    &-title {

    }

    &-wrapper {
        display: flex;
        column-gap: 20px;
        
    }

    &-picture {
        max-width: 400px;
    }

    &-img {
        width: 100%;
        height: 100%;
    }
}

