.humburgers {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.order {
    background-color:burlywood;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 400px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
}

.title {
    width: 140px;
}