.container__smiles {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 40px 0 40px 0;

}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
